.floating-button {
  display: flex;
  justify-content: end;
  padding: 5px 30px 5px 5px;
  z-index: 10;
  position: absolute;
  bottom: 50px;
  right: 0px;
  cursor: pointer;

  &__btn {
    background-color: #5C37CC;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
  }
}