@import "../../core/style/colors.scss";

.circle-modules {
  padding-top: 5px;
  border: 1px solid #757575;
  padding: 10px;
  border-radius: 10px;

  &__title {
    padding: 5px;
    font-size: 18px;
    border-bottom: 1px solid #757575;
    margin-bottom: 10px;
  }

  &__item {
    padding: .8rem;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    margin-bottom: .5rem;

      
    &--Progressing {
      @extend .circle-modules__item;
      background-color: $info-color;
    }

    &--Healthy {
      @extend .circle-modules__item;
      background-color: $success-color;
    }

    &--FAILED {
      @extend .circle-modules__item;
      background-color: $danger-color;
    }

    &__menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
      padding: 5px;

      &:hover {
        color: #fff;
      }
    }

    
  }

  &__btn-add {
    margin-top: 15px;
    background-color: transparent;
  }
}