body {
  background-color: #1C1C1E;
  color: #fff;
}


.form-select {
  background-color: transparent;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  background-color: transparent;
  color: #fff;

  &:focus {
    color: #fff;
    background-color: transparent;
  }
}

.modal {
  &-content {
    background-color: #424242;
    color: #fff;
  }

  &-header {
    border-bottom: 1px solid #757575;
  }

  &-footer {
    border-top: 1px solid #757575;
  }
}

.btn-close {
  color: #fff;
}

.text-muted {
  color: #bdbdbd !important;
}


.btn {
  &-primary {
    background-color: #f15c23;
    border: 1px solid #f15c23;

    &:hover {
      background-color: rgba(241, 92, 35, .8);
      border: 1px solid rgba(241, 92, 35, .8);
    }
  }
}

.btn-outline-primary {
  border: 1px solid #f15c23;
  color: #f15c23;
}

.btn-check:checked+.btn {
  background-color: #f15c23;
  border: 1px solid #f15c23;
}

.card {
  border: none;

  &-header {
    background-color: #424242 ;
  }
  &-body {
    background-color: #616161;
  }
}

.nav-link {
  color: #fff;

  &:hover {
    color: #757575;
  }
}

.nav-link.active {

  background-color: #f15c23 !important;
}

.bg-primary {
  background-color: #f15c23 !important;
}

.list-group-item {
  background-color: transparent;
  color: #fff;
  border: 1px solid #616161;
}

select option {
  color: #000;
}