.circle-diagram {
  width: calc(100vw - 400px);
  height: 100vh;

  &__item {
    background-color: #424242;
    cursor: pointer;
    color: white;
    border-left: 12px solid #757575;
    height: 100%;
    
    &__header {
      border-bottom: 1px solid #9e9e9e;
      padding: .3rem;
      font-weight: 600;
    }

    &__content {
      padding: .3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__project {
      @extend .circle-diagram__item;
      font-size: 12px;
      border-image: 
        linear-gradient(
          to bottom, 
          #ef4622, 
          #f7901e
        ) 1 100%;
    }

    &--Healthy {
      @extend .circle-diagram__item;
      border-color: #43a047;
    }

    &--Progressing {
      @extend .circle-diagram__item;
      border-color: #039be5;
    }

    &--Degraded {
      @extend .circle-diagram__item;
      border-color: #e53935;
    }
  }
}

.react-flow__node {
  padding: 0;
  text-align: start;
  width: 200px;
  height: 80px;
}