$background-color: #1C1C1E;
$primary-color: #5C37CC;
$secondary-color: #3A3A3C;
$text-color: #F2F2F9;

$info-color: #3945D8;
$danger-color: #FF453A;
$success-color:#10AA80;

$first-grey: #2C2C2E;
$second-grey: #3A3A3C;