@import "../../core/style/colors.scss"; 

.circle-tree {
  &__buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}

.circle-diagram {
  width: 530px;
  height: 100vh;

  &__item {
    background-color: #424242;
    cursor: pointer;
    color: white;
    border-left: 12px solid #757575;
    height: 100%;
    
    &__header {
      border-bottom: 1px solid #9e9e9e;
      padding: .3rem;
      font-weight: 600;
    }

    &__content {
      padding: .3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__project {
      @extend .circle-diagram__item;
      font-size: 12px;
      border-image: 
        linear-gradient(
          to bottom, 
          #ef4622, 
          #f7901e
        ) 1 100%;
    }

    &--Healthy {
      @extend .circle-diagram__item;
      border-color: $success-color;
    }

    &--Progressing {
      @extend .circle-diagram__item;
      border-color: $info-color;
    }

    &--Degraded {
      @extend .circle-diagram__item;
      border-color: $danger-color;
    }
  }
}

.circle-list {
  padding: 0;


  &__filters {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #424242;
  }
  

  &__item {
    background-color: $first-grey;
    cursor: pointer;
    color: white;
    border-left: 12px solid $second-grey;
    height: 100%;
    margin: 10px 0 10px 0;
    padding: 1rem;
    border-radius: 10px;
    border-color: $second-grey;

    &--Healthy {
      @extend .circle-list__item;
      border-color: $success-color;
    }

    &--Progressing {
      @extend .circle-list__item;
      border-color: $info-color;
    }

    &--Degraded {
      @extend .circle-list__item;
      border-color: $danger-color;
    }

    &--SYNCED {
      @extend .circle-list__item;
      border-color: $second-grey;
    }
    

    &__owner {
      margin-top: 10px;
      &__content {
        border-radius: 10px;
        padding: .5rem;
        background-color: rgba(0, 0, 0, .3);
      }
    }
  }
}

.react-flow__node{
  
  padding: 0 !important;
  text-align: start !important;
  width: 170px;
  height: 80px;

  &-default {
    @extend .react-flow__node;
  }

  &-project {
    @extend .react-flow__node;

  }
}